<section class="skills-section">
  <h2 id="section-skills-title" class="section-title">Compétences</h2>

  <div class="skills-wrapper">
    @for (category of categories; track category.title) {
      <div class="skill-card">
        <h3 class="skill-card-title">
          {{ category.title }}
          <span class="title-underline"></span>
        </h3>

        <ul class="skill-items">
          @for (item of category.items; track item) {

            @if (item === '__SEPARATOR__') {
              <li class="skill-separator"></li>
            } @else {
              <li>{{ item }}</li>
            }

          }
        </ul>

      </div>
    }
  </div>
</section>
