:host {
  display: block;
}

button {
  font-size: 1.2rem;
  line-height: 1;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-backdrop > div {
  animation: fadeInScale 0.25s ease-out;
}
